
[Desktop Entry]
Encoding=UTF-8
Name=JSC Command interpreter
Comment=javascript command interpreter
Exec=/usr/lib/x86_64-linux-gnu/webkit2gtk-4.0/jsc
Terminal=true
Type=Application
Icon=oracle_java8
Categories=Application;System;
