
[Desktop Entry]
Encoding=UTF-8
Name=MiniBrowser
Comment=MiniBrowser
Exec=/usr/lib/x86_64-linux-gnu/webkit2gtk-4.0/MiniBrowser
Terminal=false
Type=Application
Icon=web-browser
Categories=Application;Network;

